MONGODB_CONNECTION_STRING=mongodb+srv://user:password@cluster.mongodb.net/?retryWrites=true&w=majority
MONGODB_DATABASE_NAME=influencer_db

JWT_SECRET_KEY=replace_with_a_long_random_secret_min_32_chars
JWT_ISSUER=InfluencerAPI
JWT_AUDIENCE=InfluencerApp
JWT_ACCESS_EXPIRATION_MINUTES=60
JWT_REFRESH_EXPIRATION_DAYS=7

CORS_ALLOWED_ORIGINS=http://localhost:4200

PORT=5000
